#homepage-section {
  color: white;
  background: url("../img/homepage.jpg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #homepage-section .container {
    margin-top: 105px; }
  #homepage-section .heading {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
  #homepage-section .heading .letter {
    display: inline-block;
    line-height: 1em; }

#aboutUs-section {
  background-color: #333; }

.navbar {
  border-bottom: 4px solid #ae312d;
  opacity: 0.9;
  padding: 1.6rem 0 1.6rem 0; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%; }
